VITE_APP_URL=http://localhost:5173
VITE_SUPABASE_URL=http://localhost:8000
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlhdCI6MTcwNTIxNzEwNCwiZXhwIjoyMDIwNzkzMTA0LCJpc3MiOiJzdXBhYmFzZSJ9.izPUmpbBH1j_TT9vItwQ-WHmz-p8_rlJb4-SbpKCYe8